authentication_authorization/node_modules
authentication_authorization/env/.env
authentication_authorization/env/.env.test

noticeBoard/node_modules
noticeBoard/env/.env
noticeBoard/env/.env.test
noticeBoard/.prettierignore

.DS_Store
docker-compose.yml